.category-container {
  padding: 50px;
  background-color: #18b0ec;
  text-align: center;
}

.category-title {
  font-size: 30px;
  color:#ffffff;
  margin-bottom: 40px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.category-card {
  position: relative;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.category-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: transform 0.4s;
}

.category-card:hover img {
  transform: scale(1.1);
}

.category-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 15px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.category-overlay p {
  color: white;
  font-size: 18px;
  font-weight: bold;
}
