.contact-footer {
  background-color: #18b0ec;
  padding: 50px 40px 20px;
  border-top: 1px solid #d1ecea;
  font-family: 'Poppins', sans-serif;
}

/* GRID */
.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1100px;
  margin: auto;
  gap: 40px;
}

/* LEFT */
.footer-left h3,
.footer-right h3 {
  color: #f7fcfc;
  margin-bottom: 15px;
  font-size: 20px;
}

.footer-left p,
.footer-right p {
  font-size: 15px;
  color: #2c3e50;
  margin-bottom: 10px;
}

/* RIGHT */
.footer-right {
  text-align: right;
}

/* BOTTOM CENTER */
.footer-bottom {
  margin-top: 40px;
  text-align: center;
  font-size: 14px;
  color: #a6e9ed;
  border-top: 1px solid #d1ecea;
  padding-top: 15px;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer-right {
    text-align: center;
  }
}
