nav{
 width:100%;
 height: 100px;
 background-color: rgb(246, 178, 6);
 display: flex;
 justify-content: space-around;
align-items: center;

}
.nm{
    width: 180px;
    height: 150px;
  
}
.mno{
    color: rgb(6, 9, 185);
}
.mnm{
    color: rgb(12, 192, 42);
}
.mk{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.kol{
    max-height: 100px;
width: auto;
object-fit: contain;
}