.navbar {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 50px; 
  background-color: #0fb9b1;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}


.logo {
  font-size: 28px; 
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 1px;
}

.logo::first-letter {
  color: #ffeaa7; 
}


.nav-links {
  list-style: none;
  display: flex;
  gap: 40px; 
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 18px; 
  font-weight: 500;
  transition: color 0.3s ease, transform 0.2s ease;
}

.nav-links a:hover {
  color: #004d4a;
  transform: translateY(-2px);
}
